@media (max-width: 1200px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header__menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 992px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header__menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 556px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header__menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 468px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header__menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

